[submodule ".vim/bundle/ack.vim"]
	path = .vim/pack/mmottl/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/bundle/ale"]
	path = .vim/pack/mmottl/start/ale
	url = https://github.com/dense-analysis/ale
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/pack/mmottl/start/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule ".vim/bundle/fzf"]
	path = .vim/pack/mmottl/start/fzf
	url = https://github.com/junegunn/fzf
[submodule ".vim/bundle/fzf.vim"]
	path = .vim/pack/mmottl/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/bundle/lightline.vim"]
	path = .vim/bundle/lightline.vim
	url = git://github.com/itchyny/lightline.vim.git
[submodule ".vim/bundle/linediff.vim"]
	path = .vim/pack/mmottl/start/linediff.vim
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/pack/mmottl/start/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/rainbow"]
	path = .vim/pack/mmottl/start/rainbow
	url = git://github.com/luochen1990/rainbow.git
[submodule ".vim/bundle/supertab"]
	path = .vim/pack/mmottl/start/supertab
	url = git://github.com/ervandew/supertab.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/pack/mmottl/start/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule ".vim/bundle/tcomment_vim"]
	path = .vim/pack/mmottl/start/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule ".vim/bundle/tplugin_vim"]
	path = .vim/pack/mmottl/start/tplugin_vim
	url = git://github.com/tomtom/tplugin_vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/pack/mmottl/start/vim-airline
	url = git://github.com/vim-airline/vim-airline.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/pack/mmottl/start/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-choosewin"]
	path = .vim/pack/mmottl/start/vim-choosewin
	url = git://github.com/t9md/vim-choosewin.git
[submodule ".vim/bundle/vim-easymotion"]
	path = .vim/pack/mmottl/start/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/pack/mmottl/start/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-gitgutter"]
	path = .vim/pack/mmottl/start/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule ".vim/bundle/vim-obsession"]
	path = .vim/pack/mmottl/start/vim-obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/pack/mmottl/start/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/pack/mmottl/start/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vimtex"]
	path = .vim/pack/mmottl/start/vimtex
	url = https://github.com/lervag/vimtex
